header
    .header-section.container
        nav.header-nav
            ul.header-nav__ul
                li.header-nav__ul-li
                    a.header-nav__ul-li--link(href=defaultLink)
                        | Начинающим
                li.header-nav__ul-li
                    a.header-nav__ul-li--link(href=defaultLink)
                        | Администрирование
                li.header-nav__ul-li
                    a.header-nav__ul-li--link(href=defaultLink)
                        | Web
                li.header-nav__ul-li
                    a.header-nav__ul-li--link.logo(href=defaultLink)
                li.header-nav__ul-li
                    a.header-nav__ul-li--link(href=defaultLink)
                        | Базы данных
                li.header-nav__ul-li
                    a.header-nav__ul-li--link(href=defaultLink)
                        | JavaScript
                li.header-nav__ul-li
                    a.header-nav__ul-li--link(href=defaultLink)
                        | Python
                li.header-nav__ul-li
                    a.header-nav__ul-li--link(href=defaultLink)
                        | Java